/* Common styles for both pages */
.bg-hots-repeat {
    background-image: url('@/assets/background-hots-bg.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.nav-tabs {
    font-size: 20px;
    border: 1px #742AFF solid;
    background-color: #200B41;
}

.nav-tabs:hover {
    box-shadow: #742AFF;
    filter: drop-shadow(0 0 20px #742AFF);
}

.nav-tabs.selected {
    background-color: #6B21A8;
    /* This is the Tailwind CSS color for bg-purple-600 */
}

/* Additional common styles */
.text-white {
    color: #ffffff;
}

.text-gray-400 {
    color: #9ca3af;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

.rounded {
    border-radius: 0.25rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mt-8 {
    margin-top: 2rem;
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.min-h-screen {
    min-height: 100vh;
}

.like-button {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid #742aff;
    background-color: #200b41;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.like-button:hover {
    box-shadow: 0 0 10px 5px rgba(116, 42, 255, 0.8);
}

button.like-button.liked {
    background-color: #6b21a8;
    border-color: #4b0082;
    box-shadow: 0 0 20px 10px rgba(116, 42, 255, 1);
}


.like-button.loading {
    background-color: #555;
    cursor: not-allowed;
}


.toggle-switch {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
}

.toggle-switch span {
    padding: 0 10px;
}

.toggle-switch span.active {
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(33, 150, 243);
}

input:checked+.slider:before {
    transform: translateX(26px);
}



.tooltip {
    max-width: 250px;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid purple;
    display: none;
}

.version-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

.vanilla-text {
    border-bottom: rgb(33,150,243, 0.4) 1px solid;
    
}

.modified-text {
    border-bottom: rgba(255, 0, 0, 0.4) 1px inset;
}

